<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.system.mapper.DiseaseMapper">

    <resultMap id="DiseaseMap" type="Disease">
        <id column="id" property="id"/>
        <result column="disease_code" property="diseaseCode"/>
        <result column="disease_name" property="diseaseName"/>
        <result column="description" property="description"/>
        <result column="level" property="level"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="list" resultMap="DiseaseMap">
        SELECT * FROM disease
        <where>
            <if test="diseaseName != null and diseaseName != ''">
                AND disease_name LIKE CONCAT('%', #{diseaseName}, '%')
            </if>
            <if test="level != null and level != ''">
                AND level = #{level}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="getById" resultMap="DiseaseMap">
        SELECT * FROM disease WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Disease" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO disease (disease_code, disease_name, description, level)
        VALUES (#{diseaseCode}, #{diseaseName}, #{description}, #{level})
    </insert>

    <update id="update" parameterType="Disease">
        UPDATE disease
        <set>
            <if test="diseaseCode != null and diseaseCode != ''">disease_code = #{diseaseCode},</if>
            <if test="diseaseName != null and diseaseName != ''">disease_name = #{diseaseName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="level != null and level != ''">level = #{level},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM disease WHERE id = #{id}
    </delete>

</mapper>
