<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yk.system.mapper.EmployeeMapper">

    <resultMap id="EmployeeMap" type="Employee">
        <id column="id" property="id"/>
        <result column="emp_no" property="empNo"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="department" property="department"/>
        <result column="position" property="position"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="list" resultMap="EmployeeMap">
        SELECT * FROM employee
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="department != null and department != ''">
                AND department = #{department}
            </if>
            <if test="empNo != null and empNo != ''">
                AND emp_no LIKE CONCAT('%', #{empNo}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="getById" resultMap="EmployeeMap">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <select id="getByEmpNo" resultMap="EmployeeMap">
        SELECT * FROM employee WHERE emp_no = #{empNo}
    </select>

    <insert id="insert" parameterType="Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (emp_no, name, gender, age, department, position, phone)
        VALUES (#{empNo}, #{name}, #{gender}, #{age}, #{department}, #{position}, #{phone})
    </insert>

    <update id="update" parameterType="Employee">
        UPDATE employee
        <set>
            <if test="empNo != null and empNo != ''">emp_no = #{empNo},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="age != null">age = #{age},</if>
            <if test="department != null and department != ''">department = #{department},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="phone != null">phone = #{phone},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM employee WHERE id = #{id}
    </delete>

</mapper>
